/* FONT FACE DEFINITIONS */
@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'),
    url('./fonts/Gilroy-Regular.woff2') format('woff2'),
    url('./fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('./fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('./fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GilroyRegular';
  src: url('./fonts/GilroyRegular.woff2') format('woff2'),
    url('./fonts/GilroyRegular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Gilroy-Regular', sans-serif;
  padding-bottom: 50px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER BOX */
.header-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border: 2px solid #D39F51;
  padding: 15px 20px;
  background-color: #0D0D0D;
  color: white;
  border-radius: 30px;
  margin: 15px 0;
  font-family: 'Gilroy-Regular', sans-serif;
}

.header-logo {
  width: 100px;
  height: auto;
  flex-shrink: 0;
}

.header-date,
.header-time {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'GilroyRegular', sans-serif;
}

/* HERO SECTION */
.hero-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
  background: 
    linear-gradient(
      to bottom,
      rgba(255,255,255,1) 0%,    /* yuqori oq */
      rgba(0, 0, 0, 0.344) 25%,   /* yuqoridan pastga o'tish */
      rgba(255,255,255,0) 75%,   /* o'rtaning ranglari ko'rinadi */
      rgb(0, 0, 0) 100%   /* pastki oq */
    ),
    url('./images/davron.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  transition: transform 0.5s ease;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.477) 100%
    );
  pointer-events: none;
}

.hero-text {
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  font-family: 'Gilroy-ExtraBold', sans-serif;
  color: white;
  padding: 48px 15px;
  background: linear-gradient(135deg, #000000 0%, #030303 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
  margin-top: -20px;
  border: none;
  letter-spacing: 2px;
   
}

.highlight {
  color: #D39F51;
}

/* BUTTON SECTION */
.btn-section {
  text-align: center;
  margin: 20px 0;
  position: relative;
  padding: 10px 0;
  top: -50px;
  background: linear-gradient(60deg,
      rgba(0, 0, 0, 0.279) 0%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
}

.btn,
.btn2 {
  background: linear-gradient(to right, #c68f45, #f0b870, #f0b865, #c68f45);
  color: #000;
  border: none;
  padding: 18px 80px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn2 {
  font-size: 16px;
  padding: 16px 35px;
  background: linear-gradient(to right, #c68f45, #f0b870, #f0b865, #c68f45);
  color: #000;
  border: none;
  padding: 18px 75px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover,
.btn2:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* TIMER */
.timer {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.time-display {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.labels {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.8;
}

.label-group p {
  margin: 0;
  font-size: 12px;
}

.present-container {
  position: relative;
  padding: 40px 15px;
  padding-top: 5px;
  background: #000; /* zamin rang */
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  background-image: url("./images/praesimg.png");
  background-repeat: no-repeat;
  background-size: contain; /* rasm to'liq sig'adi */
  background-position: center center;
  width: 95%;
  height: 340px;
  max-width: 1200px;
  margin: 0 auto;
}

.present-container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-image: url("./images/sovga.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}

.present-box {
  text-align: center;
  color: white;
  max-width: 100%;
  margin: 0 auto;
}

.present-title {
  color: #FFC671;
  font-size: 24px;
  margin-top: 50px;
  font-family: 'GilroyRegular', sans-serif;
  font-weight: 700;
}

.present-box img {
  width: 100%;
  max-width: 240px;
}

.present-text {
  font-family: 'GilroyRegular', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 2px; /* harflar orasidagi masofa */
}

/* TAQDIMOT */
.taqdirmot-text-orench {
  color: #FFC671;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  font-family: 'GilroyRegular', sans-serif;
}

.taqdimot-text {
  font-size: 24px;
  text-align: center;
  color: white;
  margin-top: 20px;
  font-family: 'GilroyRegular', sans-serif;
}

.taqdimot-big-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 15px;
}

.taqdimot-box {
  position: relative;
  width: 100%;
}

.taqdimot-text-box {
  position: relative;
  border: 2px solid #D39F51;
  border-radius: 10px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  box-sizing: border-box;
}

.taq-min-box {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 54px;
  height: 34px;
  background: #FFC671;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 5px;
}

.taq-min-box img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.taqdrimot-title {
  font-size: 14px;
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 10px 15px 15px;
  font-family: 'GilroyRegular', sans-serif;
  line-height: 1.8;
}

/* MODAL STYLES */
.modal {
  display: none; /* dastlab yashirin */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.837); /* orqa fon qorayadi */
  justify-content: center;
  align-items: center;
}

















/* Modal fon */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Modal ichidagi quti */
.modal-content {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: pop 0.3s ease;
}

/* Yopish belgisi */
.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}
.close:hover { color: #000; }

/* Inputlar */
form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 15px;
}
input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}
input:focus {
  border-color: #007bff;
}

/* Tugma */
.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.submit-btn:hover {
  background-color: #0056b3;
}

/* Animatsiya */
@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


h3 {
  margin: 0 0 16px;
  font-size: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.submit-btn {
  background: linear-gradient(to right, #c68f45, #f0b870, #f0b865, #c68f45);
  color: #000;
  border: none;
  padding: 18px 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Muvaffaqiyat oynasi */
.success-modal {
  text-align: center;
  padding: 24px;
}

.success-modal h2 {
  color: #333;
  margin-bottom: 12px;
}

.success-modal p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.subscribe-btn {
  background: #0088cc;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* MOBILE STYLES */
@media (max-width: 480px) {
  .header-logo {
    order: 2;
  }
  
  .header-date {
    order: 1;
  }
  
  .header-time {
    order: 3;
  }
}

/* DESKTOP STYLES */
@media (min-width: 769px) {
  body {
    padding-bottom: 80px;
  }
  
  .container {
    max-width: 1200px;
    padding: 0 30px;
  }
  
  .header-box {
    padding: 20px 30px;
    margin: 20px 0;
  }
  
  .header-logo {
    width: 120px;
  }
  
  .header-date,
  .header-time {
    font-size: 16px;
  }
  
  .hero-section {
    height: 600px;
  }
  
  .hero-text {
    font-size: 36px;
    padding: 80px 15px;
  }
  
  .btn-section {
    top: -80px;
  }
  
  .btn,
  .btn2 {
    padding: 20px 100px;
    font-size: 20px;
  }
  
  .btn2 {
    padding: 18px 90px;
    font-size: 18px;
  }
  
  .time-display {
    font-size: 40px;
  }
  
  .labels {
    font-size: 18px;
  }
  
  .label-group p {
    font-size: 14px;
  }
  
  .present-container {
    padding: 60px 30px;
  }
  
  .present-title {
    font-size: 32px;
  }
  
  .present-box img {
    max-width: 350px;
  }
  
  .present-text {
    font-size: 18px;
    font-weight: 300;
  }
  
  .taqdirmot-text-orench,
  .taqdimot-text {
    font-size: 32px;
  }
  
  .taqdimot-big-box {
    gap: 60px;
    padding: 0 30px;
  }
  
  .taqdimot-text-box {
    height: 150px;
    padding-top: 40px;
  }
  
  .taq-min-box {
    width: 70px;
    height: 44px;
    top: -22px;
  }
  
  .taq-min-box img {
    width: 30px;
    height: 30px;
  }
  
  .taqdrimot-title {
    font-size: 18px;
  }
  
  .modal-content {
    padding: 30px;
    max-width: 500px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  input {
    padding: 15px;
    font-size: 18px;
  }
  
  .submit-btn {
    padding: 20px 50px;
    font-size: 20px;
  }
  
  .success-modal h2 {
    font-size: 28px;
  }
  
  .success-modal p {
    font-size: 16px;
  }
  
  .subscribe-btn {
    padding: 15px 30px;
    font-size: 18px;
  }
}

/* TABLET STYLES */
@media (min-width: 481px) and (max-width: 768px) {
  .hero-section {
    height: 500px;
  }
  
  .hero-text {
    font-size: 28px;
    padding: 60px 15px;
  }
  
  .btn-section {
    top: -60px;
  }
  
  .btn,
  .btn2 {
    padding: 19px 90px;
    font-size: 19px;
  }
  
  .time-display {
    font-size: 35px;
  }
  
  .present-title {
    font-size: 28px;
  }
  
  .present-box img {
    max-width: 300px;
  }
  
  .present-text {
    font-size: 16px;
    font-weight: 300;
  }
  
  .taqdirmot-text-orench,
  .taqdimot-text {
    font-size: 28px;
  }
  
  .taqdrimot-title {
    font-size: 16px;
  }
}